* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}




body {
  background-color: black;
  color: white;
}

main {
  position: relative;
}

#HeroImage {
  margin: 0;
  padding: 0;
  background: url('../images/test.webp') no-repeat;
  background-size: cover;
  height: 100vh;
  /* Set the height to the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}


#BookingForm {
  position: absolute;
  background-color: black;
  border-radius: 16px;
  top: 10%;
  width: 30%;
  box-shadow: 0 0 10px 0px black;
}

.TestimonialCard {
  background-color: white;
}

.cta-line {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: white;
}

/* Style for the input box */
input {
  border: none;
  /* Remove default borders */
  background-color: black;
  color: white;
}

input:focus {
  outline: none;
}

.cta-btn {
  background-color: #00ACC1 !important;
  border-radius: 10px;
}

.doc-img{
  width: 50px;
  border-radius: 50%;
}

/* .results{
    background-color: black;
    border-radius: 16px;
    top: 10%;
    width: 540px;
    box-shadow: 0 0 8px -3px white;
} */


@media (max-width: 900px) {
  #BookingForm {
    position: relative;
    background-color: black;
    border-radius: 16px;
    top: 10%;
    width: 70%;
    box-shadow: 0 0 8px -3px white;
  }
  #HeroImage{
    height: 50vh;
  }
  .for-second-page{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}










/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}














/* CSS Reset for Button */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
textarea {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea {
  border-bottom: 2px solid white;
}


/* Standard syntax */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Webkit/Blink browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}